<nav class="navbar-wagon">
  <%= link_to 'Simple AirBnb', flats_path, class: "navbar-wagon-brand" %>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <input class="form-control" type="text" placeholder="Search">
    <%= link_to "Search", "#", class: "navbar-wagon-item navbar-wagon-link btn" %>
    <%= link_to "Add Flat", new_flat_path, class: "navbar-wagon-item navbar-wagon-link btn" %>
</nav>
